<div class="container">
    <h1><%= title %></h1>
    <p><%= message %></p>
    
    <h2>Lista przykładowa:</h2>
    <ul>
        <% items.forEach(function(item) { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</div>